body {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #9a9a9a;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s linear;
  z-index: 10;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
}

.header__logo {
  width: 225px;
}

.left_nav ul,
.right_nav ul {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #433840;
}

.left_nav li,
.right_nav li {
  margin-right: 32px;
}

.left_nav li:last-child,
.right_nav li:last-child {
  margin-right: 0;
}

.left_nav li a,
.right_nav li a {
  color: inherit;
}

.left_nav ul li a.active {
  color: #fea3ac;
}

.left_nav li a:hover,
.right_nav li a:hover {
  color: #fea3ac;
}

.header__burger {
  width: 35px;
  height: 20px;
  position: relative;
  display: none;
}

.header__nav {
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #433840;
  position: absolute;
  right: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.svg_style {
  position: relative;
}

.page_heading {
  min-height: 400px;
  position: relative;
  background-size: cover;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_heading.about_page {
  background: transparent url("../img/about_header.jpg") center center no-repeat;
}

.svg_style::before {
  content: "";
  width: 100%;
  min-height: 130px;
  background: url("../img/svg/top.svg") center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.svg_style::after {
  content: "";
  width: 100%;
  min-height: 110px;
  background: url("../img/svg/bottom.svg") center center no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page_heading h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
}

.page_heading h2 {
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}

.about_box {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.about_box .item_data:first-child {
  padding-left: 25px;
  padding-right: 45px;
}

.about_box .item_data:last-child {
  padding-left: 45px;
  padding-right: 25px;
}

.about_box .item_data article {
  margin-bottom: 80px;
}

.about_box .item_data article:last-child {
  margin-bottom: 0;
}

.about_box .item_data article h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #433840;
  margin-bottom: 12px;
}

.about_box .item_data article p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #9a9a9a;
}

.infographic {
  background: #fea3ac;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
}

.infographic .info_list {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infographic .info_list .item_info {
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.infographic .info_list .item_info:first-child {
  margin-left: 0;
}

.infographic .info_list .item_info:last-child {
  margin-right: 0;
}

.infographic .info_list .item_info .icon {
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.infographic .info_list .item_info .count {
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #dfeeb6;
  display: block;
}

.infographic .info_list .item_info h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.infographic .info_list .item_info h4:hover {
  opacity: 0.85;
  cursor: pointer;
}

.team .box_title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #433840;
  text-align: center;
}

.team .subtitle {
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  color: #f7a1a8;
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.team_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.team_member {
  width: calc(50% - 201px);
  background: #c9e3f4;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: 190px;
  display: flex;
  align-items: center;
}

.image img {
  border-radius: 100%;
  margin-left: -190px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.team_member .data {
  margin-left: 17px;
}

.data .name {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  display: block;
}

.data .name:hover {
  opacity: 0.75;
  cursor: pointer;
}

.data .position {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #433840;
  display: block;
  margin-bottom: 14px;
}

.data p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #433840;
  margin-bottom: 10px;
}

.data .social {
  letter-spacing: 10px;
}

.team_member:nth-child(2),
.team_member:nth-child(3) {
  background: #dfeeb6;
}

.team_member:nth-child(3),
.team_member:nth-child(4) {
  margin-left: 0;
  margin-right: 190px;
}

.team_member:nth-child(3) .image,
.team_member:nth-child(4) .image {
  order: 2;
}

.team_member:nth-child(3) .data,
.team_member:nth-child(4) .data {
  order: 1;
  margin-left: 0;
  margin-right: 17px;
  text-align: right;
}

.team_member:nth-child(3) .image img,
.team_member:nth-child(4) .image img {
  margin-left: 0;
  margin-right: -190px;
}

.footer__main {
  min-height: 440px;
  background: url("../img/footerbg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer__schedule-item {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
  display: block;
}

.footer__schedule-item-hours {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #dfeeb6;
}

.sunday {
  text-transform: uppercase;
}

.footer__main-content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.footer__contacts span {
  display: block;
}

.footer__contacts-phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
}

.footer__contacts-info,
.footer__contacts-mail {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
}

.footer__contacts-mail {
  text-decoration: underline;
}

.phone_group,
.mail_group,
.location_group {
  display: flex;
}

.footer__contacts img {
  margin-right: 10px;
}

.footer__insta-images {
  width: 343px;
  display: flex;
  flex-wrap: wrap;
}

.footer__insta-feed-image {
  width: calc(100% / 3);
}

.footer__insta-feed-image:nth-child(1) {
  margin-bottom: 26px;
}

.footer__bottom {
  height: 60px;
  background: #433840;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.footer__bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-link {
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  color: #ffffff;
}

.footer__socials {
  letter-spacing: 5px;
}

.footer__socials .utube {
  padding-bottom: 2px;
}

@media screen and (max-width: 1200px) {
  .page_heading {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .page_heading.about_page {
    background: transparent url("../img/about_header-2.jpg") center no-repeat;
    background-size: cover;
  }

  .page_heading h2 {
    color: #000000;
  }

  .team_member:nth-child(1) .data p,
  .team_member:nth-child(2) .data p {
    margin-right: 100px;
  }

  .team_member:nth-child(3) .data p,
  .team_member:nth-child(4) .data p {
    margin-left: 100px;
  }

  .about_box {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .infographic {
    margin: 0;
  }

  .infographic .info_list {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team .subtitle {
    margin-bottom: 15px;
  }

  .team_list {
    margin-left: 50px;
    margin-right: 50px;
  }

  .team_member {
    width: 100%;
  }

  .team_member:nth-child(3) {
    background: #c9e3f4;
  }

  .team_member:nth-child(4) {
    background: #dfeeb6;
  }
}

@media screen and (max-width: 767px) {
  .top_header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .page_heading.about_page {
    background: transparent url("../img/about_header-2.jpg") center no-repeat;
  }

  .page_heading h2 {
    color: #000000;
  }

  .page_heading {
    margin-left: 0;
    margin-right: 0;
  }

  .header__logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 15px;
  }

  .left_nav,
  .right_nav {
    display: none;
  }

  .header__burger {
    display: block;
    right: 15px;
  }

  .header__burger:hover {
    opacity: 0.55;
    cursor: pointer;
  }

  .header__nav {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 200;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header__nav_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
    color: inherit;
  }

  .header__link:hover {
    color: #fea3ac;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 11;
  }

  .header__nav-close:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9a9a9a;
    position: absolute;
    top: 50%;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .about_box .item_data article {
    margin-bottom: 15px;
  }

  .team_list {
    margin-left: 15px;
    margin-right: 15px;
  }

  .team_member:nth-child(1) .data p,
  .team_member:nth-child(2) .data p {
    margin-right: 0;
  }

  .team_member:nth-child(3) .data p,
  .team_member:nth-child(4) .data p {
    margin-left: 0;
  }

  .infographic {
    margin: 0;
  }

  .infographic .info_list {
    padding-left: 15px;
    padding-right: 15px;
  }

  .item_info .icon img,
  .infographic .info_list .item_info .icon {
    width: 100px;
    height: 100px;
  }

  .infographic .info_list .item_info .count {
    font-size: 30px;
    line-height: 25px;
  }

  .infographic .info_list .item_info h4 {
    font-size: 16px;
  }

  .team .subtitle {
    margin-bottom: 15px;
  }

  .team_member {
    width: 100%;
  }

  .team_member .image img {
    width: 200px;
    height: 200px;
    margin-left: -150px;
  }

  .team_member:nth-child(3) .image img,
  .team_member:nth-child(4) .image img {
    margin-right: -150px;
  }

  /* Footer styles */

  .footer__main-content {
    flex-wrap: wrap;
    margin: 5%;
  }

  .footer__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 15px;
  }

  .footer__schedule {
    width: 49%;
    margin-bottom: 15px;
  }

  .footer__bottom {
    padding-right: 50px;
    padding-left: 50px;
  }

  .footer__bottom-content {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 930px) {
  .about_box {
    margin-top: 0;
    margin-bottom: 0;
    background: url("../img/about_box-2.png") no-repeat center;
    align-items: flex-start;
  }

  .about_box .item_data img {
    display: none;
  }

  .about_box .item_data article p {
    color: #000000;
  }

  .team_member {
    margin-left: 0;
    margin-right: 0;
  }

  .team_member:nth-child(1),
  .team_member:nth-child(2) {
    margin-right: 0;
    margin-left: 190px;
  }

  .footer__schedule,
  .footer__contacts {
    margin-bottom: 25px;
  }

  .footer__main-content {
    flex-wrap: wrap;
    margin: 5%;
  }
}

@media screen and (max-width: 639px) {
  .footer__main-content {
    align-items: center;
    justify-content: flex-start;
    margin: 5%;
  }

  .footer__schedule {
    width: 100%;
  }

  .footer__contacts {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 576px) {
  .page_heading.about_page {
    background: transparent url("../img/about_header-2.jpg") center no-repeat;
    background-size: cover;
  }

  .page_heading h2 {
    text-align: center;
  }

  .about_box {
    flex-wrap: wrap;
  }

  .about_box .item_data {
    margin-bottom: 15px;
  }

  .about_box .item_data:first-child,
  .about_box .item_data:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }

  .infographic .info_list {
    flex-wrap: wrap;
  }

  .infographic .info_list .item_info {
    margin: 0;
    padding: 0;
    width: 48%;
  }

  .info_list .item_info:nth-child(1),
  .info_list .item_info:nth-child(2) {
    margin-top: 100px;
  }

  .info_list .item_info:nth-child(3),
  .info_list .item_info:nth-child(4) {
    margin-bottom: 100px;
  }

  .item_info .icon img,
  .infographic .info_list .item_info .icon {
    width: 50px;
    height: 50px;
  }

  .team_list {
    margin-left: 0;
    margin-right: 0;
  }

  .team .box_title {
    font-size: 35px;
    line-height: 30px;
  }

  .team_member {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .team_member .image img {
    margin-left: 0;
    margin-right: 0;
  }

  .team_member:nth-child(3) .image img,
  .team_member:nth-child(4) .image img {
    margin-right: 0;
  }

  .team_member .data {
    margin: 0 15px 15px 15px;
  }

  .team_member:nth-child(3),
  .team_member:nth-child(4) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .team_member:nth-child(3) .image,
  .team_member:nth-child(4) .image {
    order: 1;
  }

  .team_member:nth-child(3) .data,
  .team_member:nth-child(4) .data {
    order: 2;
    margin: 0 15px 15px 15px;
  }

  .team_member:nth-child(3) .data,
  .team_member:nth-child(4) .data {
    text-align: left;
  }

  .team_member:nth-child(1),
  .team_member:nth-child(2) {
    margin-right: 15px;
    margin-left: 15px;
  }

  .team_member:nth-child(1) .data span,
  .team_member:nth-child(2) .data span {
    font-weight: 400;
  }

  .team_member:nth-child(3) .data span,
  .team_member:nth-child(4) .data span {
    display: block;
    font-weight: 400;
  }

  .team_list {
    margin-bottom: 0;
  }

  .footer__main-content {
    margin: 25px 15px;
  }

  .footer__contacts-info {
    line-height: 35px;
  }

  .footer__insta-feed,
  .footer__insta-images {
    width: 100%;
  }

  .footer__insta-feed-image:nth-child(1) {
    margin-bottom: 0;
  }

  .footer__insta-feed-image img {
    width: 80%;
    margin-bottom: 15px;
  }

  .footer__bottom {
    padding-right: 0;
    padding-left: 0;
  }
}
